# Dependencies
node_modules/
package-lock.json
yarn.lock

# macOS-specific files
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Environment Variables (local overrides only)
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Build Outputs
dist/
build/
out/

# Logs
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs and Editor configs
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.eslintcache

# OS-specific files
Thumbs.db
ehthumbs.db
